<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerTec</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top:2%">
    <div class="navbar navbar-fixed-top" style="background-color:red;">
     
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("PowerTec", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <span class="navbar-brand">Portal do colaborador</span>
            @if (Session["Nome"] != null)
            {
                <span class="navbar-text pull-right"> @Html.ActionLink("Sair", "Logout", "Funcionarios")</span>
                <span class="navbar-text pull-right">Bem vindo!! @Session["Nome"]</span>

            }
        </div>
        </div>
   
    <div>
        <hr />
        @RenderBody()

    


    </div>
  

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
