@model PowerTecWeb.tbChamado

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
        <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Assunto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assunto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mensagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_chamado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_chamado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbFuncionario.Nome_completo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbFuncionario.Nome_completo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "IndexColaborador","AreaColaborador")
        </div>
    }
</div>
