@model PowerTecWeb.tbPonto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
}

<h2>Lançar ponto</h2>
<script>
    var today = new Date().toISOString().split('T')[0];
    document.getElementById("dataSaida").setAttribute('min', today);
    document.getElementById("dataEntrada").setAttribute('min', today);

</script>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Data_entrada, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Data_entrada, new { htmlattributes = new { @class = "form-control" ,@type = "datetime-local" ,@id= "c" } })
            @Html.ValidationMessageFor(model => model.Data_entrada, "", new { @class = "text-danger" })


        </div>
     
    </div>
    

        <div class="form-group">
            @Html.LabelFor(model => model.Data_saida, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data_saida, new { htmlAttributes = new { @class = "form-control" , @type = "datetime-local" ,@id = "dataSaida"} })
                @Html.ValidationMessageFor(model => model.Data_saida, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Saida_almoco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Saida_almoco, new { htmlAttributes = new { @class = "form-control" ,@type = "datetime-local" } })
                @Html.ValidationMessageFor(model => model.Saida_almoco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hora_extra, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Feriado, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Hora_extra, "", new { @class = "text-danger" })
                <span>Sim </span>
                @Html.RadioButtonFor(m => m.Hora_extra, "S")
                <span>Não </span>
                @Html.RadioButtonFor(m => m.Hora_extra, "N", new { @checked = true })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Feriado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Feriado, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Feriado, "", new { @class = "text-danger" })
                <span>Sim </span>
                @Html.RadioButtonFor(m => m.Feriado, "S")
                <span>Não </span>
                @Html.RadioButtonFor(m => m.Feriado, "N", new { @checked = true })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdFuncionario, "Funcionário", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdFuncionario", null, htmlAttributes: new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.IdFuncionario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lançar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "IndexColaborador","AreaColaborador")
</div>
