@model PowerTecWeb.tbPonto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbPonto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data_entrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_entrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_saida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_saida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saida_almoco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saida_almoco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_extra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_extra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Feriado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Feriado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbFuncionario.Nome_completo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbFuncionario.Nome_completo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPonto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
