@{
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <hr />
    <div style="background-color:black; color:white; width: 100vw;">Meus Dados Pessoais</div>
    <div>
        <div class="row">
            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item"><a>@Html.ActionLink("Cargos", "Index", "Cargos")</a></li>
                    <li class="list-group-item"><a>@Html.ActionLink("Departamento", "Index", "Departamentos")</a></li>
                    <li class="list-group-item"><a>@Html.ActionLink("Funcionários", "Index", "Funcionarios")</a></li>
                    <li class="list-group-item"><a>@Html.ActionLink("Aprovar férias", "Index", "Ferias")</a></li>
                    <li class="list-group-item"><a>@Html.ActionLink("Beneficios", "Index", "Beneficios")</a></li>
                    <li class="list-group-item"><a>@Html.ActionLink("Comprovante de pagamentos", "ComprovantePagamento", "AreaGerente")</a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="row no-gutters">
                        <br>
                        <div class="col-md-4" style="padding-left:10em;">

                            <img src="~/Content/img/user.png" height="200" width="200" class="card-img" alt="Imagem do Usuário">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">@Session["Nome"]</h3>
                                <h4 class="card-text">@Session["Cargo"]</h4>
                                <h4 class="card-text">@Session["Email"]</h4>
                                <h4 class="card-text">@Session["Telefone"]</h4>
                                <p class="card-text"><small class="text-muted">Na empresa desde @Session["Desde"]</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


  

</body>
</html>
