@model PowerTecWeb.tbFuncionarioBeneficio

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
}

<h2>Detalhes</h2>

<div>
        <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tbBeneficio.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbBeneficio.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbFuncionario.Nome_completo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbFuncionario.Nome_completo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdFuncionarioBeneficio }) |
    @Html.ActionLink("Voltar", "IndexColaborador","AreaColaborador")
</p>
