@model IEnumerable<PowerTecWeb.tbFuncionarioBeneficio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tbBeneficio.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbFuncionario.Nome_completo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tbBeneficio.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbFuncionario.Nome_completo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdFuncionarioBeneficio }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdFuncionarioBeneficio }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdFuncionarioBeneficio })
        </td>
    </tr>
}

</table>
