@model IEnumerable<PowerTecWeb.tbFuncionario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
}


<p>
    @Html.ActionLink("Cadastrar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome_completo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
 
        <th>
            @Html.DisplayNameFor(model => model.tbCargo.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome_completo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
     
        <td>
            @Html.DisplayFor(modelItem => item.tbCargo.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.IdFuncionario }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.IdFuncionario }) |
            @Html.ActionLink("Excluir", "Delete", new { id = item.IdFuncionario })
            @Html.ActionLink("Incluir dependente", "InserirDependente", new { id = item.IdFuncionario })
        </td>
    </tr>
}

</table>
