
@{
    ViewData["Title"] = "Area inicial colaborador";
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
}
<hr />
<div class="text-center" style="background-color:black; color:white; width: 100vw;">Meus Dados Pessoais</div>
<div>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item"><a href="@Url.Action("MeuCadastro","Funcionarios",new { id = Session["IdFuncionario"]})">Meu Cadastro</a></li>
                <li class="list-group-item"><a href="@Url.Action("MeusChamados","Funcionarios",new { id = Session["IdFuncionario"]})">Meus Chamados de Rh</a></li>
                <li class="list-group-item"><a href="@Url.Action("MeuPonto","Funcionarios",new { id = Session["IdFuncionario"]})">Meu Ponto</a></li>
                <li class="list-group-item"><a href="@Url.Action("MinhasFerias","Funcionarios",new { id = Session["IdFuncionario"]})">Minhas Férias</a></li>
                <li class="list-group-item"><a href="@Url.Action("Index","BeneficiosFuncionario",new { id = Session["IdFuncionario"]})">Meus Beneficios</a></li>
                <li class="list-group-item"><a href="@Url.Action("MeusComprovantes","Funcionarios",new { id = Session["IdFuncionario"]})">Meus Comprovantes de Pagamento</a></li>
                <li class="list-group-item"><a href="@Url.Action("Minhas declarações","Funcionarios",new { id = Session["IdFuncionario"]})">Minhas Declarações / Atualizar Carteira de Trabalho</a></li>
            </ul>
            @if (Convert.ToInt32(Session["Nivel"]) == 1)
            {
                <h4>Gerente</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a>@Html.ActionLink("Cargos", "Index", "Cargos")</a></li>
                    <li class="list-group-item"><a>@Html.ActionLink("Departamento", "Index", "Departamentos")</a></li>
                    <li class="list-group-item"><a>@Html.ActionLink("Funcionários", "Index", "Funcionarios")</a></li>
                    <li class="list-group-item"><a>@Html.ActionLink("Aprovar férias", "Index", "Ferias")</a></li>
                    <li class="list-group-item"><a>@Html.ActionLink("Beneficios", "Index", "Beneficios")</a></li>
                    <li class="list-group-item"><a>@Html.ActionLink("Comprovante de pagamentos", "ComprovantePagamento", "AreaGerente")</a></li>
                </ul>
            }
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="row no-gutters">
                    <br>
                    <div class="col-md-4" style="padding-left:10em;">

                        <img src="~/Content/img/user.png" height="200" width="200" class="card-img" alt="Imagem do Usuário">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">@Session["Nome"]</h3>
                            <h4 class="card-text">@Session["Cargo"]</h4>
                            <h4 class="card-text">@Session["Email"]</h4>
                            <h4 id="telefone" class="card-text">@Session["Telefone"]</h4>
                            <p class="card-text"><small class="text-muted">Na empresa desde @Session["Desde"]</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    window.onload = mascaraDeTelefone;
    function mascaraDeTelefone() {
        const textoAtual = document.getElementById("telefone").innerText;
        const isCelular = textoAtual.length === 11;
        let textoAjustado;
        if (isCelular) {
            const ddd = textoAtual.slice(0, 2);
            const parte1 = textoAtual.slice(2, 7);
            const parte2 = textoAtual.slice(7, 11);
            textoAjustado = `(${ddd})${parte1}-${parte2}`
        } else {
            const parte1 = textoAtual.slice(0, 4);
            const parte2 = textoAtual.slice(4, 8);
            textoAjustado = `${parte1}-${parte2}`
        }
        document.getElementById("telefone").innerText = textoAjustado;
    }

    function tiraHifen(telefone) {
        const textoAtual = telefone.value;
        const textoAjustado = textoAtual.replace(/\-/g, '');

        telefone.value = textoAjustado;
    }

</script>