@model IEnumerable<PowerTecWeb.tbHolerite>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
}

<h2>Comprovantes de pagamento</h2>

<p>
    @Html.ActionLink("Cadastrar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Periodo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario_base)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Horas_extras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comissoes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Outros_proventos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_proventos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plano_saude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vale_transporte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_deducoes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor_liquido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ferias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aviso_previo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beneficios_adicionais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Outras_Informacoes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbFuncionario.Nome_completo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Periodo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salario_base)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Horas_extras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comissoes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Outros_proventos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_proventos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plano_saude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vale_transporte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_deducoes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor_liquido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ferias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aviso_previo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beneficios_adicionais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Outras_Informacoes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbFuncionario.Nome_completo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdHolerite }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdHolerite }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdHolerite })
        </td>
    </tr>
}

</table>
